body {
	padding: 40px;
	background-color: #00f4c3;
}

div {
  display: flex;
}

p, a {
  height: 28px;
  padding: 4px 8px 0px 8px;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  color: black;
}

p:hover {
  height: 28px;
  /* background-color: #ff0072; */
  /* color: white; */
}

.number {
  color: white;
}

span.onmouseoverChangeColor {

}

a:hover {
	background-color: #ff0072;
	color: white;
  text-decoration: none;
}