body {
	padding: 5px 20px 15px 20px;
  background-color: #00ffcc;
}

table.PickYourColour {
  position: fixed;
  right: 28px;
  top: 28px;
  z-index: +1;
}

div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

p, a {
  height: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  color: black;
}

/* 
p:hover {
  height: 14px;
  background-color: #ff0072;
  color: white;
} */

.number {
  color: white;
}

a:hover {
	background-color: #9789ff;
	color: white;
  text-decoration: none;
}