/* basics */
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-s-1, .col-s-2, .col-s-3, .col-s-4, .col-s-5, .col-s-6, .col-s-7, .col-s-8, .col-s-9, .col-s-10, .col-s-11,
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11 {
  float: left;
  padding: 20px;
}

.col-s-12, .col-12 {
  float: right;
  padding: 20px 0px 20px 0px;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #ffffff;
}
/* END basics */

/* header*/
img.logo {
  width: 180px;
  height: 180px;
}

.header {
  background-image: url(img/backgrounds/background_mint_gradient-90.jpg);
  background-repeat: no-repeat, repeat;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* END header*/

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  float: right;
}

/* END first menu
.menu li.holo-font-firstmenu:hover {
  background: url("img/holo_menu_a.jpg") center;
  background-size: initial;
  color: white;
}

.menu li.holo-font-firstmenu {
  padding: 20px 20px 20px 20px;
}
END first menu */

/* second menu */
.float-center {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}

.float-center > .child {
  position: relative;
  left: 50%;
  font: 20px 'Roboto', sans-serif;
  margin: 0;
}

a.holo-font {
  background: url("img/backgrounds/background_mint_gradient-90.jpg") center;
  background-size: initial;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font: 20px 'Roboto', sans-serif;
  font-weight: 900;
}

.menu a:hover {
  background: url("img/backgrounds/background_mint-green.jpg") center;
  background-size: initial;
  color: white;
  text-decoration: none;
}

.menu a {
  padding: 20px 20px 20px 20px;
}
/* END second menu */

/* holo font */
.holo-font-ul {
  font: bolder 20px 'Roboto', sans-serif;
  margin: 0;
  background: url("img/backgrounds/background_mint_gradient-90.jpg") center;
  background-size: cover;
  width: 75vw;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
/* END holo font */

div.main {
  line-height: 1.5;
}

/* p */
.text, .number, .toggle-content {
  font-size: 14px;
  color: black;
}

.number {
  font-weight: bold;
}
/* END p */

a.portfolio, a.toggle {
  font-size: 14px;
  color: black;
}

a.portfolio:hover, a.toggle:hover {
  text-decoration: none;
}

div.toggle-content {
  display: none;
}

/* bouncing arrow
.scroll-down-cue {
  margin-top: 100px;
  height: 20px;
  display: block;
  width: 100%;
  text-align: center;
}

.scroll-down-cue a {
  width: 70px;
  height: 2px;
  position: relative;
  margin: 0 auto;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.scroll-down-cue a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
END bouncing arrow */

/* button */
.button {
  bottom: 0;
  padding: 20px 0px 20px 0px;
  background-image: url(img/holo_footer.jpg);
  background-repeat: no-repeat, repeat;
}
/* button END */

/* footer */
.footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px 0px 20px 0px;
  background-image: url(img/backgrounds/background_mint_gradient-90.jpg);
  background-repeat: no-repeat, repeat;
  text-align: center;
}

p.footer {
  height: 10px;
  font-size: 14px;
  color: black;
}
/* END footer */

/****************** MEDIA QUERIES *****************/

/* mobile phones */
[class*="col-"] {
  width: 100%;
}
/* END mobile phones */

/* tablets */
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
/* END tablets */

/* for desktop: */
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/* END desktop */

/*
.col-1 {
  background-color: #00ffc0;
}

.col-2 {
  background-color: #00fffc;
}

.col-3 {
  background-color: #00deff;
}

.col-4 {
  background-color: #00a8ff;
}

.col-5 {
  background-color: #0054ff;
}

.col-6 {
  background-color: #0000ff;
}

.col-7 {
  background-color: #5a00ff;
}

.col-8 {
  background-color: #9000ff;
}

.col-9 {
  background-color: #c000ff;
}

.col-10 {
  background-color: #ea00ff;
}

.col-11 {
  background-color: #ff00cc;
}

.col-12 {
  background-color: #ff007e;
}

.col-1 {
  background-color: #ff007e;
}

.col-2 {
  background-color: #ff00cc;
}

.col-3 {
  background-color: #ea00ff;
}

.col-4 {
  background-color: #c000ff;
}

.col-5 {
  background-color: #9000ff;
}

.col-6 {
  background-color: #5a00ff;
}

.col-7 {
  background-color: #0000ff;
}

.col-8 {
  background-color: #0054ff;
}

.col-9 {
  background-color: #00a8ff;
}

.col-10 {
  background-color: #00deff;
}

.col-11 {
  background-color: #00fffc;
}

.col-12 {
  background-color: #00ffc0;
}
*/
/****************** END MEDIA QUERIES *****************/